src/flows/Account_Update_Collaborative.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Account_Update</name>
        <label>Account Update</label>
        <locationX>674</locationX>
        <locationY>138</locationY>
        <assignmentItems>
            <assignToReference>varAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccount.Collaborative__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCollaborativeUser.Collaborative__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Database_Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Valid_User</name>
        <label>Valid User</label>
        <locationX>493</locationX>
        <locationY>133</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ValidUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCollaborativeUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow process to lookup user in collaborative user junction to get a default collaborative if available.</description>
    <formulas>
        <name>GetUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Account Update Collaborative {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Update Collaborative</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_Collaborative</name>
        <label>Get User Collaborative</label>
        <locationX>278</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_User</targetReference>
        </connector>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUserId</elementReference>
            </value>
        </filters>
        <object>C501_Collaborative_User__c</object>
        <outputReference>varCollaborativeUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Collaborative__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Database_Update_Account</name>
        <label>Database Update Account</label>
        <locationX>883</locationX>
        <locationY>138</locationY>
        <inputReference>varAccount</inputReference>
    </recordUpdates>
    <startElementReference>Get_User_Collaborative</startElementReference>
    <status>Active</status>
    <variables>
        <name>InputAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varCollaborativeUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>C501_Collaborative_User__c</objectType>
    </variables>
</Flow>
