src/flows/Account_Federal_Poverty_Level_FLOW.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>C501_Assign_Latest_Year</name>
        <label>Assign Latest Year</label>
        <locationX>627</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>C501_FPLRecordNameFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C501_Get_FPL_for_Latest_Year.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C501_BaseAKFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C501_Get_FPL_for_Latest_Year.C501_Base_Level_AK__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C501_BaseHIFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C501_Get_FPL_for_Latest_Year.C501_Base_Level_HI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C501_BaseLower48Final</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C501_Get_FPL_for_Latest_Year.C501_Base_Level_Lower_48__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C501_IncAKFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C501_Get_FPL_for_Latest_Year.C501_Increment_AK__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C501_IncHIFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C501_Get_FPL_for_Latest_Year.C501_Increment_HI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C501_IncLower48Final</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C501_Get_FPL_for_Latest_Year.C501_Increment_Lower_48__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_FPL_on_Family</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C501_Assign_This_Year</name>
        <label>Assign This Year</label>
        <locationX>599</locationX>
        <locationY>390</locationY>
        <assignmentItems>
            <assignToReference>C501_FPLRecordNameFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C501_FPL_Record_This_Year.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C501_BaseAKFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C501_FPL_Record_This_Year.C501_Base_Level_AK__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C501_BaseHIFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C501_FPL_Record_This_Year.C501_Base_Level_HI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C501_BaseLower48Final</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C501_FPL_Record_This_Year.C501_Base_Level_Lower_48__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C501_IncAKFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C501_FPL_Record_This_Year.C501_Increment_AK__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C501_IncHIFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C501_FPL_Record_This_Year.C501_Increment_HI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C501_IncLower48Final</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C501_FPL_Record_This_Year.C501_Increment_Lower_48__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Has_Current_Year_FPL_Settings</name>
        <label>Has Current Year FPL Settings</label>
        <locationX>287</locationX>
        <locationY>46</locationY>
        <defaultConnector>
            <targetReference>C501_Get_FPL_for_Latest_Year</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Current_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C501_FPLRecordNameFinal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_FPL_on_Family</targetReference>
            </connector>
            <label>Has Current Year</label>
        </rules>
    </decisions>
    <formulas>
        <name>C501_Audit_TextFinal</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH({!$Flow.CurrentDate}))&amp;&quot;/&quot;&amp; TEXT(DAY({!$Flow.CurrentDate}))&amp;&quot;/&quot;&amp; TEXT(YEAR({!$Flow.CurrentDate}))&amp;&quot; | &quot;&amp;{!C501_FPLRecordNameFinal}&amp;&quot; | &quot;&amp;CASE({!C501_FamilyStateInput},&quot;AK&quot;,&quot;AK&quot;,&quot;HI&quot;,&quot;HI&quot;,&quot;Lower 48&quot;)</expression>
    </formulas>
    <formulas>
        <name>C501_BaseLevelFPL</name>
        <dataType>Number</dataType>
        <expression>CASE({!C501_FamilyStateInput}, &quot;AK&quot;, 
  {!C501_BaseAKFinal}, &quot;HI&quot;,  {!C501_BaseHIFinal}, {!C501_BaseLower48Final})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>C501_FamilyFPL</name>
        <dataType>Number</dataType>
        <expression>({!C501_COREFamilyIncomeInput}/({!C501_BaseLevelFPL}+({!C501_FamilyIncrement}*{!C501_IncrementFPL})))*100</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>C501_FamilyIncrement</name>
        <dataType>Number</dataType>
        <expression>{!C501_FamilySizeInput}-1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>C501_FirstDateOfNextYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY())+1,1,1)</expression>
    </formulas>
    <formulas>
        <name>C501_FirstDateOfThisYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),1,1)</expression>
    </formulas>
    <formulas>
        <name>C501_IncrementFPL</name>
        <dataType>Number</dataType>
        <expression>CASE({!C501_FamilyStateInput},&quot;AK&quot;,{!C501_IncAKFinal},&quot;HI&quot;,{!C501_IncHIFinal},{!C501_IncLower48Final})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Account: Federal Poverty Level FLOW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Federal Poverty Level FLOW</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>C501_Get_FPL_for_Latest_Year</name>
        <label>Get FPL for Latest Year</label>
        <locationX>405</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>C501_Assign_Latest_Year</targetReference>
        </connector>
        <object>C501_Federal_Poverty_Level__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>C501_Base_Level_AK__c</queriedFields>
        <queriedFields>C501_Base_Level_HI__c</queriedFields>
        <queriedFields>C501_Base_Level_Lower_48__c</queriedFields>
        <queriedFields>C501_Increment_AK__c</queriedFields>
        <queriedFields>C501_Increment_HI__c</queriedFields>
        <queriedFields>C501_Increment_Lower_48__c</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Label</queriedFields>
        <sortField>C501_Effective_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>C501_Get_FPL_for_This_Year</name>
        <label>Get FPL for This Year</label>
        <locationX>165</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Current_Year_FPL_Settings</targetReference>
        </connector>
        <filters>
            <field>C501_Effective_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>C501_FirstDateOfThisYear</elementReference>
            </value>
        </filters>
        <filters>
            <field>C501_Effective_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>C501_FirstDateOfNextYear</elementReference>
            </value>
        </filters>
        <object>C501_Federal_Poverty_Level__mdt</object>
        <outputAssignments>
            <assignToReference>C501_BaseAKFinal</assignToReference>
            <field>C501_Base_Level_AK__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>C501_BaseHIFinal</assignToReference>
            <field>C501_Base_Level_HI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>C501_BaseLower48Final</assignToReference>
            <field>C501_Base_Level_Lower_48__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>C501_IncAKFinal</assignToReference>
            <field>C501_Increment_AK__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>C501_IncHIFinal</assignToReference>
            <field>C501_Increment_HI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>C501_IncLower48Final</assignToReference>
            <field>C501_Increment_Lower_48__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>C501_FPLRecordNameFinal</assignToReference>
            <field>Label</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_FPL_on_Family</name>
        <label>Update FPL on Family</label>
        <locationX>778</locationX>
        <locationY>49</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>C501_AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>C501_Federal_Poverty_Level__c</field>
            <value>
                <elementReference>C501_FamilyFPL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FPL_Updated__c</field>
            <value>
                <elementReference>C501_Audit_TextFinal</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>C501_Get_FPL_for_This_Year</startElementReference>
    <status>Active</status>
    <variables>
        <name>C501_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C501_BaseAKFinal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>C501_BaseHIFinal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>C501_BaseLower48Final</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>C501_COREFamilyIncomeInput</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>C501_FamilySizeInput</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>C501_FamilyStateInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C501_FPL_Record_This_Year</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>C501_Federal_Poverty_Level__mdt</objectType>
    </variables>
    <variables>
        <name>C501_FPLRecordNameFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C501_IncAKFinal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>C501_IncHIFinal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>C501_IncLower48Final</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
