src/flows/C501_Assessment_HH_Domain_Scores.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Collects data specific to Homeward House&apos;s Domain Scores Assessment; Updated score entry screen to hide header</description>
    <formulas>
        <description>Create the Assessment&apos;s Name</description>
        <name>C501_buildThisAssessmentName</name>
        <dataType>String</dataType>
        <expression>&quot;Domain Scores - &quot; &amp; TEXT({!$Flow.CurrentDate})</expression>
    </formulas>
    <interviewLabel>Assessment: HH Domain Scores {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assessment: HH Domain Scores</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Insert the Assessment record just created</description>
        <name>C501_Insert_New_Assessment</name>
        <label>Insert New Assessment</label>
        <locationX>668</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>C501_thisNewAssessmentId</assignRecordIdToReference>
        <faultConnector>
            <targetReference>C501_Send_Fault_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>C501_thisAssessmentsAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_HH_Early_Childhood__c</field>
            <value>
                <elementReference>C501_HH_Early_Childhood</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_HH_Economic_Assets__c</field>
            <value>
                <elementReference>C501_HH_Economic_Assets</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_HH_Education_Employment__c</field>
            <value>
                <elementReference>C501_HH_Education_Employment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_HH_Health_Wellbeing__c</field>
            <value>
                <elementReference>C501_HH_Health_Wellbeing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_HH_Social_Capital__c</field>
            <value>
                <elementReference>C501_HH_Social_Capital</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>C501_buildThisAssessmentName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>C501_thisAssessmentsRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Assessment__c</object>
    </recordCreates>
    <recordLookups>
        <description>Find the Record Type Id for the this particular assessment</description>
        <name>C501_Get_Assessment_Record_Type_Id</name>
        <label>Get Assessment Record Type Id</label>
        <locationX>502</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>C501_Insert_New_Assessment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>C501_Send_Fault_Email</targetReference>
        </faultConnector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C501_HH_Domain_Assessment</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assessment__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>C501_thisAssessmentsRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <description>Data collection screen for scores from the Domain Assessment (Homeward House)</description>
        <name>C501_Domain_Assessment</name>
        <label>Domain Assessment</label>
        <locationX>344</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>C501_Get_Assessment_Record_Type_Id</targetReference>
        </connector>
        <fields>
            <name>HEADING_Domain_Scores</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Domain Scores&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C501_Assessment_Instructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please enter the family&apos;s scores in each domain, on a scale of 1-10 where 1 is &quot;Safe&quot; and 10 is &quot;In Crisis&quot;&lt;/span&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C501_HH_Health_Wellbeing</name>
            <dataType>Number</dataType>
            <fieldText>Domain: Health and Wellbeing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_HH_Economic_Assets</name>
            <dataType>Number</dataType>
            <fieldText>Domain: Economic Assets</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_HH_Early_Childhood</name>
            <dataType>Number</dataType>
            <fieldText>Domain: Early Childhood Care and Education</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_HH_Education_Employment</name>
            <dataType>Number</dataType>
            <fieldText>Domain: Post - Secondary Education and Employment Pathways</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_HH_Social_Capital</name>
            <dataType>Number</dataType>
            <fieldText>Domain: Social Capital- Friends-Family-Community</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>C501_Domain_Assessment</startElementReference>
    <status>Active</status>
    <subflows>
        <description>send email if the flow goes belly up</description>
        <name>C501_Send_Fault_Email</name>
        <label>Send Fault Email</label>
        <locationX>581</locationX>
        <locationY>268</locationY>
        <flowName>Send_Flow_Fault_Email</flowName>
        <inputAssignments>
            <name>C501_varFaultyFlowErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>C501_varFaultyFlowName</name>
            <value>
                <elementReference>C501_thisFlowName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Holds the ID of the Account record that called the flow</description>
        <name>C501_thisAssessmentsAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Id of the Assessment Record Type - set by the Get Assessment Record Type Id action</description>
        <name>C501_thisAssessmentsRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Sent to subflow Send Fault Email when flow fails</description>
        <name>C501_thisFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&quot;Assessment: HH Domain Scores&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Id of the newly created assessment - sent back to the overall Assessment Flow to help create the link in the final screen</description>
        <name>C501_thisNewAssessmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
