src/flows/C501_TEMPLATE_ScreenFlowForSpecificAssessment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Can be used to create screen flows for specific assessments. Elements to update:
* C501_buildThisAssessmentName: set the value to be used in the Assessment Name
* C501_Assessment_Instructions: update the instruction text as needed
* C501_FlowName: update the flow name
* C501_Get_Assessment_Record_Type_Id: update the Developer Name of the assessment&apos;s record type
* C501_General_Assessment: update the screen&apos;s input fields and their variables</description>
    <formulas>
        <description>Create the Assessment&apos;s Name</description>
        <name>C501_buildThisAssessmentName</name>
        <dataType>String</dataType>
        <expression>&quot;ISA General Assessment - &quot; &amp; TEXT({!$Flow.CurrentDate})</expression>
    </formulas>
    <interviewLabel>TEMPLATE_ScreenFlowForSpecificAssessment {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>TEMPLATE_ScreenFlowForSpecificAssessment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Insert the Assessment record just created</description>
        <name>C501_Insert_New_Assessment</name>
        <label>Insert New Assessment</label>
        <locationX>668</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>C501_thisNewAssessmentId</assignRecordIdToReference>
        <faultConnector>
            <targetReference>C501_Send_Fault_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>C501_thisAssessmentsAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_ISA_Health_Wellbeing__c</field>
            <value>
                <elementReference>C501_ISA_Health_Wellbeing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_ISA_Literacy__c</field>
            <value>
                <elementReference>C501_ISA_Literacy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_ISA_Math__c</field>
            <value>
                <elementReference>C501_ISA_Math</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>C501_buildThisAssessmentName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>C501_thisAssessmentsRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Assessment__c</object>
    </recordCreates>
    <recordLookups>
        <description>Find the Record Type Id for the this particular assessment</description>
        <name>C501_Get_Assessment_Record_Type_Id</name>
        <label>Get Assessment Record Type Id</label>
        <locationX>502</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>C501_Insert_New_Assessment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>C501_Send_Fault_Email</targetReference>
        </faultConnector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C501_ISA_General_Assessment</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assessment__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>C501_thisAssessmentsRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <description>Data collection screen for scores from the {Assessment Name} ({Collaborative Name})</description>
        <name>C501_General_Assessment</name>
        <label>General Assessment</label>
        <locationX>344</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>C501_Get_Assessment_Record_Type_Id</targetReference>
        </connector>
        <fields>
            <name>C501_Assessment_Instructions</name>
            <fieldText>&lt;p&gt;Please enter comments for each portion of the assessment.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C501_ISA_Literacy</name>
            <dataType>String</dataType>
            <fieldText>Literacy</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C501_ISA_Math</name>
            <dataType>String</dataType>
            <fieldText>Math</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C501_ISA_Health_Wellbeing</name>
            <dataType>String</dataType>
            <fieldText>Health &amp; Wellbeing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>C501_General_Assessment</startElementReference>
    <status>Draft</status>
    <subflows>
        <description>send email if the flow goes belly up</description>
        <name>C501_Send_Fault_Email</name>
        <label>Send Fault Email</label>
        <locationX>583</locationX>
        <locationY>234</locationY>
        <flowName>Send_Flow_Fault_Email</flowName>
        <inputAssignments>
            <name>C501_varFaultyFlowName</name>
            <value>
                <elementReference>C501_thisFlowName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Holds the ID of the Account record that called the flow</description>
        <name>C501_thisAssessmentsAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Id of the Assessment Record Type - set by the Get Assessment Record Type Id action</description>
        <name>C501_thisAssessmentsRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Sent to subflow Send Fault Email when flow fails</description>
        <name>C501_thisFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&quot;Template: ScreenFlowForSpecificAssessment&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Id of the newly created assessment - sent back to the overall Assessment Flow to help create the link in the final screen</description>
        <name>C501_thisNewAssessmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
