src/flows/C501_Account_Is_Eligible_FLOW.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>C501_Add_Accounts_to_Collection</name>
        <label>Add Accounts to Collection</label>
        <locationX>305</locationX>
        <locationY>192</locationY>
        <assignmentItems>
            <assignToReference>C501_varAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>C501_varAccountEach</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>C501_Update_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C501_Assign_Eligible_True</name>
        <label>Assign Eligible True</label>
        <locationX>402</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>C501_varAccountEach.Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>C501_inAccountIDOne</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C501_varAccountEach.C501_Is_Eligible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C501_varAccountEach.C501_Eligibility_last_evaluated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>C501_Add_Accounts_to_Collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Account: Is Eligible FLOW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Is Eligible FLOW</label>
    <loops>
        <name>C501_Loop_Account_IDs</name>
        <label>Loop Account IDs</label>
        <locationX>109</locationX>
        <locationY>169</locationY>
        <assignNextValueToReference>C501_varAccountIDEach</assignNextValueToReference>
        <collectionReference>C501_inAccountID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>C501_Update_Accounts</name>
        <label>Update Accounts</label>
        <locationX>197</locationX>
        <locationY>313</locationY>
        <inputReference>C501_varAccount</inputReference>
    </recordUpdates>
    <startElementReference>C501_Assign_Eligible_True</startElementReference>
    <status>Active</status>
    <variables>
        <name>C501_inAccountID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C501_inAccountIDOne</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C501_varAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>C501_varAccountEach</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>C501_varAccountIDEach</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
