src/flows/C501_Assessment_NCCC_General_Assessment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>UPDATED:  NCCC uses the Fenn Jorstad Self Sufficiency Matrix; Update score entry screen to hide header</description>
    <formulas>
        <description>Create the Assessment&apos;s Name</description>
        <name>C501_buildThisAssessmentName</name>
        <dataType>String</dataType>
        <expression>&quot;NCCC Fenn Jorstad - &quot; &amp; TEXT({!$Flow.CurrentDate})</expression>
    </formulas>
    <interviewLabel>Assessment: NCCC General Assessment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assessment: NCCC: Fenn Jorstad Self Sufficiency Matrix</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Insert the Assessment record just created</description>
        <name>C501_Insert_New_Assessment</name>
        <label>Insert New Assessment</label>
        <locationX>668</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>C501_thisNewAssessmentId</assignRecordIdToReference>
        <faultConnector>
            <targetReference>C501_Send_Fault_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>C501_thisAssessmentsAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_NCCC_Childcare__c</field>
            <value>
                <elementReference>C501_NCCC_Childcare</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_NCCC_Children_s_Education__c</field>
            <value>
                <elementReference>C501_NCCC_Children_s_Education</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_NCCC_Daily_Functioning__c</field>
            <value>
                <elementReference>C501_NCCC_Daily_Functioning</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_NCCC_Employment__c</field>
            <value>
                <elementReference>C501_NCCC_Employment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_NCCC_English_Literacy_Comprehension__c</field>
            <value>
                <elementReference>C501_NCCC_English_Literacy_Comprehension</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_NCCC_Financial_Income__c</field>
            <value>
                <elementReference>C501_NCCC_Financial_Income</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_NCCC_Food__c</field>
            <value>
                <elementReference>C501_NCCC_Food</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_NCCC_Healthcare__c</field>
            <value>
                <elementReference>C501_NCCC_Healthcare</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_NCCC_Housing__c</field>
            <value>
                <elementReference>C501_NCCC_Housing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_NCCC_Legal_Civil__c</field>
            <value>
                <elementReference>C501_NCCC_Legal_Civil</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_NCCC_Legal_Criminal__c</field>
            <value>
                <elementReference>C501_NCCC_Legal_Criminal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_NCCC_Mental_Health__c</field>
            <value>
                <elementReference>C501_NCCC_Mental_Health</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_NCCC_Security__c</field>
            <value>
                <elementReference>C501_NCCC_Security</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_NCCC_Substance_Abuse__c</field>
            <value>
                <elementReference>C501_NCCC_Substance_Abuse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_NCCC_Support__c</field>
            <value>
                <elementReference>C501_NCCC_Support</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_NCCC_Transportation__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>C501_buildThisAssessmentName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>C501_thisAssessmentsRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Assessment__c</object>
    </recordCreates>
    <recordLookups>
        <description>Find the Record Type Id for the this particular assessment</description>
        <name>C501_Get_Assessment_Record_Type_Id</name>
        <label>Get Assessment Record Type Id</label>
        <locationX>502</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>C501_Insert_New_Assessment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>C501_Send_Fault_Email</targetReference>
        </faultConnector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C501_NCCC_General_Assessment</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assessment__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>C501_thisAssessmentsRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <description>Data collection screen for scores from the {Assessment Name} (North Counties Community Collaborative)</description>
        <name>C501_Fenn_Jorstad_Self_Sufficiency_Matrix</name>
        <label>General Assessment</label>
        <locationX>344</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>C501_Get_Assessment_Record_Type_Id</targetReference>
        </connector>
        <fields>
            <name>HEADING_Fenn_Jorstad</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Fenn Jorstad Self Sufficiency Matrix&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C501_Assessment_Instructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please enter the family&apos;s scores on a scale of 1-4 where 1 is &quot;In Crisis&quot; and 4 is &quot;Self Sufficient&quot;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C501_NCCC_English_Literacy_Comprehension</name>
            <dataType>String</dataType>
            <fieldText>English Literacy &amp; Comprehension</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C501_NCCC_Housing</name>
            <dataType>String</dataType>
            <fieldText>Housing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C501_NCCC_Food</name>
            <dataType>String</dataType>
            <fieldText>Food</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C501_NCCC_Transportation</name>
            <dataType>String</dataType>
            <fieldText>Transportation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C501_NCCC_Childcare</name>
            <dataType>String</dataType>
            <fieldText>Childcare</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C501_NCCC_Children_s_Education</name>
            <dataType>String</dataType>
            <fieldText>Children&apos;s Education</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C501_NCCC_Employment</name>
            <dataType>String</dataType>
            <fieldText>Employment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C501_NCCC_Financial_Income</name>
            <dataType>String</dataType>
            <fieldText>Financial/Income</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C501_NCCC_Daily_Functioning</name>
            <dataType>String</dataType>
            <fieldText>Skills for Daily Functioning</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C501_NCCC_Support</name>
            <dataType>String</dataType>
            <fieldText>Social and/or Family Support</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C501_NCCC_Security</name>
            <dataType>String</dataType>
            <fieldText>Security</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C501_NCCC_Legal_Civil</name>
            <dataType>String</dataType>
            <fieldText>Legal--Civil</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C501_NCCC_Legal_Criminal</name>
            <dataType>String</dataType>
            <fieldText>Legal--Criminal</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C501_NCCC_Healthcare</name>
            <dataType>String</dataType>
            <fieldText>Healthcare</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C501_NCCC_Mental_Health</name>
            <dataType>String</dataType>
            <fieldText>Mental Health</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C501_NCCC_Substance_Abuse</name>
            <dataType>String</dataType>
            <fieldText>Substance Abuse</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>C501_Fenn_Jorstad_Self_Sufficiency_Matrix</startElementReference>
    <status>Active</status>
    <subflows>
        <description>send email if the flow goes belly up</description>
        <name>C501_Send_Fault_Email</name>
        <label>Send Fault Email</label>
        <locationX>581</locationX>
        <locationY>239</locationY>
        <flowName>Send_Flow_Fault_Email</flowName>
        <inputAssignments>
            <name>C501_varFaultyFlowErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>C501_varFaultyFlowName</name>
            <value>
                <elementReference>C501_thisFlowName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Holds the ID of the Account record that called the flow</description>
        <name>C501_thisAssessmentsAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Id of the Assessment Record Type - set by the Get Assessment Record Type Id action</description>
        <name>C501_thisAssessmentsRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Sent to subflow Send Fault Email when flow fails</description>
        <name>C501_thisFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&quot;Assessment: NCCC Fenn Jorstad&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Id of the newly created assessment - sent back to the overall Assessment Flow to help create the link in the final screen</description>
        <name>C501_thisNewAssessmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
