src/flows/C501_Account_Launch_Eligibility_Mass_Action_Screenflow_FLOW.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>C501_run_Mass_Action</name>
        <label>run Mass Action</label>
        <locationX>1295</locationX>
        <locationY>53</locationY>
        <actionName>dca_mass_action__MA_RunConfigInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>C501_Complete</targetReference>
        </connector>
        <inputParameters>
            <name>configId</name>
            <value>
                <elementReference>C501_varMassActionConfigId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>C501_Add_Referred_Families_to_Collection</name>
        <label>Add Referred Families to Collection</label>
        <locationX>999</locationX>
        <locationY>216</locationY>
        <assignmentItems>
            <assignToReference>C501_varReferredFamiliesUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>C501_varReferredFamiliesEach</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>C501_loopAllReferredFamilies</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C501_assign_Account_ID</name>
        <label>assign Account ID</label>
        <locationX>113</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C501_get_Collaborative.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>C501_get_Current_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C501_Assign_Mass_Action_Config_ID</name>
        <label>Assign Mass Action Config ID</label>
        <locationX>492</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>C501_varMassActionConfigId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C501_get_Current_Account.C501_Eligibility_Mass_Action_Config__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>C501_has_Valid_Mass_Action_Config_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C501_Clear_Eligibiilty</name>
        <label>Clear Eligibiilty</label>
        <locationX>1011</locationX>
        <locationY>62</locationY>
        <assignmentItems>
            <assignToReference>C501_varReferredFamiliesEach.C501_Is_Eligible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C501_varReferredFamiliesEach.C501_Eligibility_last_evaluated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>C501_Add_Referred_Families_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>C501_Family_or_Collaborative</name>
        <label>Family or Collaborative</label>
        <locationX>311</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Family</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C501_get_Current_Account.Collaborative__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C501_Is_in_Referral_Status</targetReference>
            </connector>
            <label>Family</label>
        </rules>
        <rules>
            <name>Collaborative</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C501_get_Current_Account.Collaborative__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C501_Assign_Mass_Action_Config_ID</targetReference>
            </connector>
            <label>Collaborative</label>
        </rules>
    </decisions>
    <decisions>
        <name>C501_has_Valid_Mass_Action_Config_ID</name>
        <label>has Valid Mass Action Config ID</label>
        <locationX>634</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>C501_No_Mass_Action_Config</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C501_varMassActionConfigId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C501_get_All_Referred_Families_in_Collaboration</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>C501_Is_in_Referral_Status</name>
        <label>Is in Referral Status</label>
        <locationX>312</locationX>
        <locationY>231</locationY>
        <defaultConnector>
            <targetReference>C501_No_Mass_Action_Config_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_in_Referral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C501_get_Current_Account.C501_Family_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C501_get_Collaborative</targetReference>
            </connector>
            <label>Is in Referral</label>
        </rules>
    </decisions>
    <interviewLabel>Account: Launch Eligibility Mass Action Screenflow FLOW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Launch Eligibility Mass Action Screenflow FLOW</label>
    <loops>
        <name>C501_loopAllReferredFamilies</name>
        <label>loopAllReferredFamilies</label>
        <locationX>859</locationX>
        <locationY>53</locationY>
        <assignNextValueToReference>C501_varReferredFamiliesEach</assignNextValueToReference>
        <collectionReference>C501_get_All_Referred_Families_in_Collaboration</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>C501_Clear_Eligibiilty</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>C501_update_Referred_Familes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>C501_get_All_Referred_Families_in_Collaboration</name>
        <label>get All Referred Families in Collaboration</label>
        <locationX>765</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>C501_loopAllReferredFamilies</targetReference>
        </connector>
        <filters>
            <field>C501_Family_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Referral</stringValue>
            </value>
        </filters>
        <filters>
            <field>Collaborative__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>C501_Eligibility_last_evaluated__c</queriedFields>
        <queriedFields>C501_Is_Eligible__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>C501_get_Collaborative</name>
        <label>get Collaborative</label>
        <locationX>315</locationX>
        <locationY>407</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>C501_assign_Account_ID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>C501_get_Current_Account.Collaborative__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Collaborative__c</queriedFields>
        <queriedFields>C501_Eligibility_Mass_Action_Config__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>C501_get_Current_Account</name>
        <label>get Current Account</label>
        <locationX>174</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>C501_Family_or_Collaborative</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>C501_Eligibility_Mass_Action_Config__c</queriedFields>
        <queriedFields>Collaborative__c</queriedFields>
        <queriedFields>C501_Family_Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>C501_update_Referred_Familes</name>
        <label>update Referred Familes</label>
        <locationX>1013</locationX>
        <locationY>399</locationY>
        <connector>
            <targetReference>C501_run_Mass_Action</targetReference>
        </connector>
        <inputReference>C501_varReferredFamiliesUpdated</inputReference>
    </recordUpdates>
    <screens>
        <name>C501_Complete</name>
        <label>Complete</label>
        <locationX>1413</locationX>
        <locationY>53</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>done</name>
            <fieldText>&lt;p&gt;Eligibility Check  has been submitted.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please allow up to 1 minute for process to complete. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>C501_No_Mass_Action_Config</name>
        <label>No Mass Action Config</label>
        <locationX>635</locationX>
        <locationY>204</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>done_0</name>
            <fieldText>&lt;p&gt;The collaboration record is missing a Mass Action Configuration record. Please consult your help documentation if you believe this is in error. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>C501_No_Mass_Action_Config_0</name>
        <label>No Mass Action Config</label>
        <locationX>453</locationX>
        <locationY>240</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>done_0_0</name>
            <fieldText>&lt;p&gt;Eligibility is only checked for Families in the Referral Status.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>C501_get_Current_Account</startElementReference>
    <status>Active</status>
    <variables>
        <name>C501_thisFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Account: Launch Eligibility Mass Action FLOW</stringValue>
        </value>
    </variables>
    <variables>
        <name>C501_varMassActionConfigId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C501_varReferredFamiliesEach</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>C501_varReferredFamiliesUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
