src/flows/C501_Assessment_MLW_Bridge_Scores.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <description>Collects data specific to Making Life Works&apos; Bridge Scores Assessment; moved flow fault lookup to subflow</description>
    <dynamicChoiceSets>
        <name>Type_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Create the Assessment&apos;s Name</description>
        <name>C501_buildThisAssessmentName</name>
        <dataType>String</dataType>
        <expression>&quot;MLW Bridge Scores - &quot; &amp; TEXT({!$Flow.CurrentDate})</expression>
    </formulas>
    <interviewLabel>Assessment: MLW Bridge Scores {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assessment: MLW Bridge Scores</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Insert the Assessment record just created</description>
        <name>C501_Insert_New_Assessment</name>
        <label>Insert New Assessment</label>
        <locationX>434</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>C501_thisNewAssessmentId</assignRecordIdToReference>
        <faultConnector>
            <targetReference>C501_Send_Fault_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>C501_thisAssessmentsAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_MLW_Daycare__c</field>
            <value>
                <elementReference>C501_MLW_Daycare</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_MLW_Debts__c</field>
            <value>
                <elementReference>C501_MLW_Debts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_MLW_Earning_Levels__c</field>
            <value>
                <elementReference>C501_MLW_Earning_Levels</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_MLW_Education__c</field>
            <value>
                <elementReference>C501_MLW_Education</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_MLW_Health__c</field>
            <value>
                <elementReference>C501_MLW_Health</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_MLW_Housing__c</field>
            <value>
                <elementReference>C501_MLW_Housing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_MLW_Networks__c</field>
            <value>
                <elementReference>C501_MLW_Networks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_MLW_Saving__c</field>
            <value>
                <elementReference>C501_MLW_Saving</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_MLW_Transport__c</field>
            <value>
                <elementReference>C501_MLW_Transport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>C501_buildThisAssessmentName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>C501_thisAssessmentsRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <object>Assessment__c</object>
    </recordCreates>
    <recordLookups>
        <description>Find the Record Type Id for the this particular assessment</description>
        <name>C501_Get_Assessment_Record_Type_Id</name>
        <label>Get Assessment Record Type Id</label>
        <locationX>284</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>C501_Insert_New_Assessment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>C501_Send_Fault_Email</targetReference>
        </faultConnector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C501_MLW_Bridge_Scores</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assessment__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>C501_thisAssessmentsRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <description>Data collection screen for scores from the Bridge Scores Assessment (Making Life Work)</description>
        <name>MLW_Bridge_Scores</name>
        <label>MLW Bridge Scores</label>
        <locationX>153</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>C501_Get_Assessment_Record_Type_Id</targetReference>
        </connector>
        <fields>
            <name>C501_Bridge_Assessment_Instructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please enter scores from the family&apos;s Bridge Assessment, on a scale of 1-5&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>Type_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C501_MLW_Housing</name>
            <dataType>Number</dataType>
            <fieldText>Bridge: Housing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_MLW_Transport</name>
            <dataType>Number</dataType>
            <fieldText>Bridge: Transport</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_MLW_Daycare</name>
            <dataType>Number</dataType>
            <fieldText>Bridge: Daycare</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_MLW_Health</name>
            <dataType>Number</dataType>
            <fieldText>Bridge: Health</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_MLW_Networks</name>
            <dataType>Number</dataType>
            <fieldText>Bridge: Networks</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_MLW_Debts</name>
            <dataType>Number</dataType>
            <fieldText>Bridge: Debts</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_MLW_Saving</name>
            <dataType>Number</dataType>
            <fieldText>Bridge: Saving</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_MLW_Education</name>
            <dataType>Number</dataType>
            <fieldText>Bridge: Education</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_MLW_Earning_Levels</name>
            <dataType>Number</dataType>
            <fieldText>Bridge: Earning Levels</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>MLW_Bridge_Scores</startElementReference>
    <status>Active</status>
    <subflows>
        <description>send email if the flow goes belly up</description>
        <name>C501_Send_Fault_Email</name>
        <label>Send Fault Email</label>
        <locationX>348</locationX>
        <locationY>229</locationY>
        <flowName>Send_Flow_Fault_Email</flowName>
        <inputAssignments>
            <name>C501_varFaultyFlowName</name>
            <value>
                <elementReference>C501_thisFlowName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Holds the ID of the Account record that called the flow</description>
        <name>C501_thisAssessmentsAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Id of the Assessment Record Type - set by the Get Assessment Record Type Id action</description>
        <name>C501_thisAssessmentsRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Sent to subflow Send Fault Email when flow fails</description>
        <name>C501_thisFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&quot;Assessment: MLW Bridge Scores&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Id of the newly created assessment - sent back to the overall Assessment Flow to help create the link in the final screen</description>
        <name>C501_thisNewAssessmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
