src/flows/C501_Assessment_NCCC_General_Assessment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>PLACEHOLDER: to be updated when we get a clearer picture of NCCC&apos;s assessment needs; moved flow fault lookup to subflow</description>
    <formulas>
        <description>Create the Assessment&apos;s Name</description>
        <name>C501_buildThisAssessmentName</name>
        <dataType>String</dataType>
        <expression>&quot;NCCC General Assessment - &quot; &amp; TEXT({!$Flow.CurrentDate})</expression>
    </formulas>
    <interviewLabel>Assessment: NCCC General Assessment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assessment: NCCC General Assessment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Insert the Assessment record just created</description>
        <name>C501_Insert_New_Assessment</name>
        <label>Insert New Assessment</label>
        <locationX>668</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>C501_thisNewAssessmentId</assignRecordIdToReference>
        <faultConnector>
            <targetReference>C501_Send_Fault_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>C501_thisAssessmentsAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_NCCC_Measure_1__c</field>
            <value>
                <elementReference>C501_NCCC_Measure_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_NCCC_Measure_2__c</field>
            <value>
                <elementReference>C501_NCCC_Measure_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_NCCC_Measure_3__c</field>
            <value>
                <elementReference>C501_NCCC_Measure_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>C501_buildThisAssessmentName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>C501_thisAssessmentsRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Assessment__c</object>
    </recordCreates>
    <recordLookups>
        <description>Find the Record Type Id for the this particular assessment</description>
        <name>C501_Get_Assessment_Record_Type_Id</name>
        <label>Get Assessment Record Type Id</label>
        <locationX>502</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>C501_Insert_New_Assessment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>C501_Send_Fault_Email</targetReference>
        </faultConnector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C501_NCCC_General_Assessment</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assessment__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>C501_thisAssessmentsRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <description>Data collection screen for scores from the {Assessment Name} (North Counties Community Collaborative)</description>
        <name>C501_General_Assessment</name>
        <label>General Assessment</label>
        <locationX>344</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>C501_Get_Assessment_Record_Type_Id</targetReference>
        </connector>
        <fields>
            <name>C501_Assessment_Instructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please enter the family&apos;s scores in each domain, on a scale of 1-5.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C501_NCCC_Measure_1</name>
            <dataType>Number</dataType>
            <fieldText>Placeholder - Measure 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_NCCC_Measure_2</name>
            <dataType>Number</dataType>
            <fieldText>Placeholder - Measure 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_NCCC_Measure_3</name>
            <dataType>Number</dataType>
            <fieldText>Placeholder - Measure 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>C501_General_Assessment</startElementReference>
    <status>Active</status>
    <subflows>
        <description>send email if the flow goes belly up</description>
        <name>C501_Send_Fault_Email</name>
        <label>Send Fault Email</label>
        <locationX>581</locationX>
        <locationY>239</locationY>
        <flowName>Send_Flow_Fault_Email</flowName>
        <inputAssignments>
            <name>C501_varFaultyFlowName</name>
            <value>
                <elementReference>C501_thisFlowName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Holds the ID of the Account record that called the flow</description>
        <name>C501_thisAssessmentsAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Id of the Assessment Record Type - set by the Get Assessment Record Type Id action</description>
        <name>C501_thisAssessmentsRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Sent to subflow Send Fault Email when flow fails</description>
        <name>C501_thisFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&quot;Assessment: NCCC General Assessment&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Id of the newly created assessment - sent back to the overall Assessment Flow to help create the link in the final screen</description>
        <name>C501_thisNewAssessmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
