src/flows/C501_Assessment_CCR_AFAR_Self_Assessment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <description>Collects data specific to Connect Casino Road&apos;s All Families Are Ready Self Assessment; moved flow fault lookup to subflow</description>
    <dynamicChoiceSets>
        <name>Type_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Create the Assessment&apos;s Name</description>
        <name>C501_buildThisAssessmentName</name>
        <dataType>String</dataType>
        <expression>&quot;AFAR Self Assessment - &quot; &amp; TEXT({!$Flow.CurrentDate})</expression>
    </formulas>
    <interviewLabel>Assessment: CCR AFAR Self Assessment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assessment: CCR AFAR Self Assessment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Insert the Assessment record just created</description>
        <name>C501_Insert_New_Assessment</name>
        <label>Insert New Assessment</label>
        <locationX>666</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>C501_thisNewAssessmentId</assignRecordIdToReference>
        <faultConnector>
            <targetReference>C501_InsertFail_Send_Fault_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>C501_thisAssessmentsAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_CCR_Affordable_Healthcare__c</field>
            <value>
                <elementReference>C501_CCR_Affordable_Healthcare</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_CCR_Child_Developing__c</field>
            <value>
                <elementReference>C501_CCR_Child_Developing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_CCR_Comfortably_Pay_Bills__c</field>
            <value>
                <elementReference>C501_CCR_Comfortably_Pay_Bills</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_CCR_Depression_or_Hopelessness__c</field>
            <value>
                <elementReference>C501_CCR_Depression_or_Hopelessness</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_CCR_Early_Learning__c</field>
            <value>
                <elementReference>C501_CCR_Early_Learning</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_CCR_Equipped_to_Reach_Goals__c</field>
            <value>
                <elementReference>C501_CCR_Equipped_to_Reach_Goals</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_CCR_Good_Physical_Health__c</field>
            <value>
                <elementReference>C501_CCR_Good_Physical_Health</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_CCR_Meet_Basic_Needs__c</field>
            <value>
                <elementReference>C501_CCR_Meet_Basic_Needs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_CCR_Opportunities_Employment_Goals__c</field>
            <value>
                <elementReference>C501_CCR_Opportunities_Employment_Goals</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_CCR_Rarely_Overwhelmed__c</field>
            <value>
                <elementReference>C501_CCR_Rarely_Overwhelmed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_CCR_Resources_to_Pursue_Goals__c</field>
            <value>
                <elementReference>C501_CCR_Resources_to_Pursue_Goals</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_CCR_Safe_Home__c</field>
            <value>
                <elementReference>C501_CCR_Safe_Home</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_CCR_Saves_Money__c</field>
            <value>
                <elementReference>C501_CCR_Saves_Money</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_CCR_Support_Child_Learning__c</field>
            <value>
                <elementReference>C501_CCR_Support_Child_Learning</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_CCR_Supportive_Family_Relationships__c</field>
            <value>
                <elementReference>C501_CCR_Supportive_Family_Relationships</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_CCR_Supportive_People__c</field>
            <value>
                <elementReference>C501_CCR_Supportive_People</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>C501_buildThisAssessmentName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>C501_thisAssessmentsRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <object>Assessment__c</object>
    </recordCreates>
    <recordLookups>
        <description>Find the Record Type Id for the this particular assessment</description>
        <name>C501_Get_Assessment_Record_Type_Id</name>
        <label>Get Assessment Record Type Id</label>
        <locationX>502</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>C501_Insert_New_Assessment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>C501_InsertFail_Send_Fault_Email</targetReference>
        </faultConnector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C501_CCR_AFAR_Self_Assessment</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assessment__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>C501_thisAssessmentsRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <description>Data collection screen for scores from the AFAR Self Assessment (Connect Casino Road)</description>
        <name>C501_AFAR_Self_Assessment_Scores</name>
        <label>AFAR Self Assessment Scores</label>
        <locationX>344</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>C501_Get_Assessment_Record_Type_Id</targetReference>
        </connector>
        <fields>
            <name>C501_AFAR_Self_Assessment_Instructions</name>
            <fieldText>&lt;p&gt;Please enter scores from the family&apos;s Self Assessment, on a scale of 1-5&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>Type_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C501_CCR_Supportive_People</name>
            <dataType>Number</dataType>
            <fieldText>I feel I have people in my life who help and support me when I need it.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_CCR_Supportive_Family_Relationships</name>
            <dataType>Number</dataType>
            <fieldText>I feel my family has strong and supporting relationships with each other</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_CCR_Safe_Home</name>
            <dataType>Number</dataType>
            <fieldText>I feel my family lives in a safe and positive home environment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_CCR_Equipped_to_Reach_Goals</name>
            <dataType>Number</dataType>
            <fieldText>I feel I have the training, experience, and/or education I need to reach my goals and aspirations</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_CCR_Opportunities_Employment_Goals</name>
            <dataType>Number</dataType>
            <fieldText>I feel I have access to opportunities to fulfill my employment goals</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_CCR_Resources_to_Pursue_Goals</name>
            <dataType>Number</dataType>
            <fieldText>I know where to find and how to access resources to pursue my educational and employment goals</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_CCR_Support_Child_Learning</name>
            <dataType>Number</dataType>
            <fieldText>I feel confident in my ability to support my child’s learning and have the resources I need to do so</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_CCR_Child_Developing</name>
            <dataType>Number</dataType>
            <fieldText>I feel my child is developing appropriately</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_CCR_Early_Learning</name>
            <dataType>Number</dataType>
            <fieldText>I feel my child is accessing quality early learning opportunities</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_CCR_Meet_Basic_Needs</name>
            <dataType>Number</dataType>
            <fieldText>I feel confident in my family’s ability to meet our basic needs (stable housing, paying bills, providing healthy food, clothing, transportation, etc.)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_CCR_Comfortably_Pay_Bills</name>
            <dataType>Number</dataType>
            <fieldText>My family can comfortably pay our bills each month</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_CCR_Saves_Money</name>
            <dataType>Number</dataType>
            <fieldText>My family saves money at the end of each month</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_CCR_Affordable_Healthcare</name>
            <dataType>Number</dataType>
            <fieldText>I feel I am able to access affordable healthcare when needed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_CCR_Good_Physical_Health</name>
            <dataType>Number</dataType>
            <fieldText>I feel I am in good physical health</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_CCR_Rarely_Overwhelmed</name>
            <dataType>Number</dataType>
            <fieldText>I rarely experience feelings of extreme stress or feel overwhelmed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>C501_CCR_Depression_or_Hopelessness</name>
            <dataType>Number</dataType>
            <fieldText>Feelings of depression or hopelessness do not affect my ability to function in everyday life</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>C501_AFAR_Self_Assessment_Scores</startElementReference>
    <status>Obsolete</status>
    <subflows>
        <description>Launch the &quot;send flow fault email&quot; subflow if the record create fails</description>
        <name>C501_InsertFail_Send_Fault_Email</name>
        <label>InsertFail: Send Fault Email</label>
        <locationX>590</locationX>
        <locationY>345</locationY>
        <flowName>Send_Flow_Fault_Email</flowName>
        <inputAssignments>
            <name>C501_varFaultyFlowErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>C501_varFaultyFlowName</name>
            <value>
                <elementReference>C501_thisFlowName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Holds the ID of the Account record that called the flow</description>
        <name>C501_thisAssessmentsAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Id of the Assessment Record Type - set by the Get Assessment Record Type Id action</description>
        <name>C501_thisAssessmentsRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Holds the name of the current flow; Sent to subflow Send Fault Email if the flow fails</description>
        <name>C501_thisFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Assessment CCR AFAR Self Assessment</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Id of the newly created assessment - sent back to the overall Assessment Flow to help create the link in the final screen</description>
        <name>C501_thisNewAssessmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
